*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: azure;
}

main {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: Helvetica;
    color: rgb(43, 39, 39);
    --godl: rgb(190, 166, 104);
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title h1 {
    font-size: 2.5rem;
    letter-spacing: .1rem;
}

.underline {
    width: 40%;
    background: var(--godl);
    height: 4px;
}

.buttons ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 5px 13px;
    font-size: 1.15rem;
    border-radius: 7px;
    background-color: transparent;
    color: var(--godl);
    border: 2px solid var(--godl);
    border-right-color: rgb(46, 43, 43);
    border-bottom-color: rgb(46, 43, 43);
    transition: background-color .5s, color .5s;
}

.buttons button:hover, .buttons button:active {
    background-color: var(--godl);
    color: azure;
}

.entries {
    max-width: 1250px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.entry {
    width: 600px;
    display: flex;
    gap: 10px;
}

.entry img {
    width: 200px;
    border-radius: 10px;
    border: 4px solid var(--godl);
}

.dotted-underline {
    width: 100%;
    border-top: 1px dotted gray;
    margin-bottom: 20px;
}

.entry .name-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.entry .name {
    letter-spacing: .15rem;
    font-size: .9rem;
    color: rgb(43, 39, 39)
}

.entry .price {
    color: var(--godl);
    font-weight: bold;
    letter-spacing: .25rem;
}

.entry .description {
    color: gray;
    line-height: 1.5rem;
}

@media screen and (max-width: 480px) {
    .entry {
        width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .entry .name-section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .dotted-underline {
        border-top: 1px dotted gray;
    }

    .buttons ul {
        gap: 5px;
    }
    
    .buttons button {
        padding: 3px 7px;
        font-size: 1rem;
        border-radius: 5px;
    }
}